.b-action-button {
    cursor: pointer;
    width: 50px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;

    float: left;
    margin-right: 10px;
}

.b-action-button_state_active,
.b-action-button_state_active .b-action-button__title {
    color: #407EC8;
    /*text-shadow: 0 0 7px #75AADD;

    -webkit-animation: burn 2s infinite linear;
       -moz-animation: burn 2s infinite linear;
            animation: burn 2s infinite linear;*/
}

@-webkit-keyframes burn {
	0% { text-shadow: 0 0 5px #75AADD; }
	50% { text-shadow: 0 0 10px #407EC8; }
	100% { text-shadow: 0 0 5px #75AADD; }
}

@-moz-keyframes burn {
	0% { text-shadow: 0 0 5px #75AADD; }
	50% { text-shadow: 0 0 10px #407EC8; }
	100% { text-shadow: 0 0 5px #75AADD; }
}

@keyframes burn {
	0% { text-shadow: 0 0 5px #75AADD; }
	50% { text-shadow: 0 0 10px #407EC8; }
	100% { text-shadow: 0 0 5px #75AADD; }
}

.b-action-button__icon {
    font-size: 32px;
}

.b-action-button__title {
    font-size: 13px;
    color: #777;
}

.b-action-button:hover .b-action-button__title {
    text-decoration: underline;
}
.b-build-info,
.b-build-info__item {
    height: 100%;
}
.b-button {
    border-radius: 5px;
    line-height: 200%;
    font-size: 14px;
    padding: 5px 12px;
    margin: 10px;

    background: -moz-linear-gradient(top, rgba(253, 254, 255,1) 0%, rgba(238, 239, 240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253, 254, 255,1)), color-stop(100%,rgba(238, 239, 240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(253, 254, 255,1) 0%,rgba(238, 239, 240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgb(253, 254, 255) 0%, rgb(238, 239, 240) 100%); /* W3C */
    border: solid 1px #999;
    box-shadow: 0 2px 5px -3px #999, 0 0 2px #fff inset;

    color: #333;
    cursor: pointer;
    white-space: nowrap;
}

.b-button_theme_blue {
    background: -moz-linear-gradient(top, rgba(117,170,221,1) 0%, rgba(64,126,200,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,170,221,1)), color-stop(100%,rgba(64,126,200,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(117,170,221,1) 0%,rgba(64,126,200,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(117,170,221,1) 0%,rgba(64,126,200,1) 100%); /* W3C */
    border: solid 1px #376bab;
    box-shadow: 0 2px 7px -3px #555;

    color: #fff;

    font-size: 18px;
    padding: 10px 20px;
}

.b-button_theme_blue:hover {
    -webkit-animation: burn-button 2s infinite linear;
       -moz-animation: burn-button 2s infinite linear;
            animation: burn-button 2s infinite linear;
}

@-webkit-keyframes burn-button {
	0% { box-shadow: 0 0 5px #75AADD; }
	50% { box-shadow: 0 0 10px #407EC8; }
	100% { box-shadow: 0 0 5px #75AADD; }
}

@-moz-keyframes burn-button {
	0% { box-shadow: 0 0 5px #75AADD; }
	50% { box-shadow: 0 0 10px #407EC8; }
	100% { box-shadow: 0 0 5px #75AADD; }
}

@keyframes burn-button {
	0% { box-shadow: 0 0 5px #75AADD; }
	50% { box-shadow: 0 0 10px #407EC8; }
	100% { box-shadow: 0 0 5px #75AADD; }
}

@media all and (max-width: 800px) {
    .b-button_theme_blue {
        font-size: 14px;
        padding: 5px 12px;
    }
}
.b-getting-started {
    width: 100%;
    height: 100%;

    background: -moz-linear-gradient(top, rgb(244, 244, 244) 0%, rgb(255, 255, 255) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244, 244, 244,1)), color-stop(100%,rgba(255, 255, 255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(244, 244, 244,1) 0%,rgba(255, 255, 255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgb(244, 244, 244) 0%,rgba(255, 255, 255,1) 100%); /* W3C */

    overflow-y: auto;
}

.b-getting-started__block {
    position: relative;

    width: 60%;
    margin-left: 20%;
    top: 10%;

    text-align: center;
}

.b-getting-started__title {
    font-size: 32px;
    margin-bottom: 10px;
}

.b-getting-started__subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.b-getting-started__description {
    font-size: 13px;
    color: #777;
}

.b-getting-started p {
    margin-bottom: 20px;
}

.b-getting-started__help {
    margin-bottom: 10px;
    width: 70%;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 10px;
}

.b-getting-started__help:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.b-getting-started__help__icon {
    float: left;
    font-size: 32px;
    color: #357ac8;

    margin-right: 10px;
}

.b-getting-started__help .b-getting-started__description {
    margin-bottom: 20px;
    color: #555;
}

.b-getting-started__actions {
    margin: 30px 0 150px 0;
}

@media all and (max-width: 800px) {
    .b-getting-started__block {
        width: 90%;
        margin-left: 5%;
    }
}

.b-landing-box,
.b-landing-box__content {
    padding: 5px;
    height: 100%;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.b-landing-box__content {
    border: dashed 2px #b9c3cf;
    border-radius: 8px;

    position: relative;
    padding: 0;
}

.b-landing-box__message,
.b-landing-box__icon {
    position: relative;
    padding: 0 10%;
    top: 50%;

    font-size: 13px;
    color: #8f9aa6;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
}

.b-landing-box__icon {
    font-size: 50px;
    margin-top: -50px;
}

.b-landing-box_state_dragover .b-landing-box__content {
    border-color: #407EC8;
}
body, html {
    height: 100%;
}

.b-layout {
    font-family: "Lucida Grande", Helvetica, Arial;
    height: 100%;
}

.b-layout__sidebar {
    width: 200px;
    position: absolute;
    height: 100%;
}

.b-layout__content {
    margin-left: 200px;
    height: 100%;
}

/*div::before {
    content: attr(class);
    font-size: 11px;
    position: absolute;
    opacity: .3;
}*/
.b-log {
    width: 100%;
    height: 100%;

    padding-top: 71px;
    margin-top: -71px;
    position: relative;

    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.b-log__title {
    height: 30px;

    background: #f6f6f6;

    position: relative;
    border-bottom: solid 1px #CECECE;

    line-height: 30px;
    padding-left: 10px;

    color: #878B92;
    cursor: default;
    font-size: 13px;
    text-transform: uppercase;
}

.b-log__report {
    overflow-y: auto;

    height: 100%;

    padding: 0 0 5px 0px;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    /*box-shadow: inset 0px 7px 8px -10px #777;*/

    font-size: 13px;
}

.b-log__report__result {
    font-family: "Consolas", "Courier New";
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.b-log__report__title {
    border-bottom: solid 1px #CECECE;

    box-shadow: 0 2px 1px #ebebeb;

    color: #878B92;
    cursor: default;
    font-size: 13px;
    text-transform: uppercase;

    padding-left: 10px;
    margin: 10px 0 10px 0;

    line-height: 16px;
    height: 20px;
}
.b-menu-button {
    float: left;

    height: 100%;
    width: 40px;

    line-height: 30px;
    text-align: center;
    font-size: 22px;
    color: #505861;
    text-shadow: 0 1px 0 #f7f8f9;

    border-right: solid 1px #b7bfc9;

    vertical-align: middle;

    cursor: pointer;
}

.b-menu-button:hover {
    background: rgba(0,0,0,.1);
}
.b-navigate {
    font-size: 12px;
    color: #555;
}

.b-navigate__text {
    margin-left: 70px;
    width: 150px;
    text-align: center;
}

.b-navigate_type_left {
    top: 60%;
    position: absolute;
}

.b-navigate_type_top {
    left: 60%;
    position: absolute;
}

.b-navigate_type_top .b-navigate__text {
    margin-left: 100px;
    top: 85px;

    position: absolute;
}

.b-project-info {

}

.b-project-info__link {
    color: inherit;
    text-decoration: none;
}

.b-project-info__link:hover {
    text-decoration: underline;
}

.b-project-info__title {
    font-size: 16px;
}

.b-project-info__location {
    font-size: 13px;
    color: #777;
}
.b-projects {
    height: 100%;
    position: relative;
    padding-top: 8px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    overflow-y: auto;
}

.b-projects__header {
    color: #878b92;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 0 5px 5px;

    position: relative;
    cursor: default;
}

.b-projects__eject {
    float: right;
    font-size: 120%;
    line-height: 100%;
    margin-right: 2px;
}

.b-projects__eject:hover {
    color: #111;
}

.b-projects__list {
    margin-bottom: 5px;
}

.b-projects__list__item {
    font-size: 10px;

    height: 27px;
    line-height: 27px;
    left: -5px;
    padding-left: 10px;

    cursor: default;
}

.projects__list__item__services {
    float: right;
    margin-right: 3px;
    font-size: 11px;
}

.b-projects__list__item_state_current {
    border-bottom: solid 1px #366bac;
    border-top: solid 1px #769fc5;

    outline: solid 1px #c2c8ce;

    background: -moz-linear-gradient(top, rgba(117,170,221,1) 0%, rgba(64,126,200,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,170,221,1)), color-stop(100%,rgba(64,126,200,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(117,170,221,1) 0%,rgba(64,126,200,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(117,170,221,1) 0%,rgba(64,126,200,1) 100%); /* W3C */

    color: #fff;
    text-shadow: 0 -1px 0 #333;
    font-size: 11px;
}
.b-sidebar {
    height: 100%;
}

.b-sidebar > div {
    box-shadow: -10px 0px 10px -12px #999 inset;
}

.b-sidebar__content {
    height: 100%;
    margin-bottom: -31px;
    padding-bottom: 31px;

    background: #d9dfe6;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.b-sidebar__menu {
    height: 30px;
    border-top: solid 1px #a9aeb3;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,247,249,1)), color-stop(50%,rgba(235,238,241,1)), color-stop(51%,rgba(228,232,237,1)), color-stop(100%,rgba(217,223,230,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(246,247,249,1) 0%,rgba(235,238,241,1) 50%,rgba(228,232,237,1) 51%,rgba(217,223,230,1) 100%);
    background: linear-gradient(to bottom, rgba(246,247,249,1) 0%,rgba(235,238,241,1) 50%,rgba(228,232,237,1) 51%,rgba(217,223,230,1) 100%);
}
.b-toolbar {
    height: 70px;
    border-bottom: solid #cecece 1px;
    box-shadow: 0 0 5px #cecece;

    background: #f7f8f9;
    position: relative;

    z-index: 1;

    background: -moz-linear-gradient(top, rgba(253, 254, 255,1) 0%, rgba(238, 239, 240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253, 254, 255,1)), color-stop(100%,rgba(238, 239, 240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(253, 254, 255,1) 0%,rgba(238, 239, 240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgb(253, 254, 255) 0%, rgb(238, 239, 240) 100%); /* W3C */
}

.b-toolbar__project-info {
    height: 100%;
    margin-right: 50%;
    padding: 16px 20px 15px 50px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.b-toolbar__actions {
    position: absolute;
    width: 50%;
    height: 100%;

    right: 0;
    top: 0;
    padding: 7px 0 0 10px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    white-space: nowrap;
    overflow: hidden;
}
@font-face {
    font-family: 'fontello';
    src: url("font/fontello.eot");
    src: url("font/fontello.eot?#iefix") format('embedded-opentype'), url("font/fontello.woff") format('woff'), url("font/fontello.ttf") format('truetype'), url("font/fontello.svg#fontello") format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    opacity: 0.8;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - magrins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-eject:before { content: '\23cf'; } /* '⏏' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cw:before { content: '\27f3'; } /* '⟳' */
.icon-help-circled:before { content: '\e704'; } /* '' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-chart-bar:before { content: '📊'; } /* '\1f4ca' */
/*
Copyright (c) 2011, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.9.0
*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}
.i-hidden {
    display: none;
}