.b-button {
    border-radius: 5px;
    line-height: 200%;
    font-size: 14px;
    padding: 5px 12px;
    margin: 10px;

    background: -moz-linear-gradient(top, rgba(253, 254, 255,1) 0%, rgba(238, 239, 240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253, 254, 255,1)), color-stop(100%,rgba(238, 239, 240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(253, 254, 255,1) 0%,rgba(238, 239, 240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgb(253, 254, 255) 0%, rgb(238, 239, 240) 100%); /* W3C */
    border: solid 1px #999;
    box-shadow: 0 2px 5px -3px #999, 0 0 2px #fff inset;

    color: #333;
    cursor: pointer;
    white-space: nowrap;
}

.b-button_theme_blue {
    background: -moz-linear-gradient(top, rgba(117,170,221,1) 0%, rgba(64,126,200,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,170,221,1)), color-stop(100%,rgba(64,126,200,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(117,170,221,1) 0%,rgba(64,126,200,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(117,170,221,1) 0%,rgba(64,126,200,1) 100%); /* W3C */
    border: solid 1px #376bab;
    box-shadow: 0 2px 7px -3px #555;

    color: #fff;

    font-size: 18px;
    padding: 10px 20px;
}

.b-button_theme_blue:hover {
    -webkit-animation: burn-button 2s infinite linear;
       -moz-animation: burn-button 2s infinite linear;
            animation: burn-button 2s infinite linear;
}

@-webkit-keyframes burn-button {
	0% { box-shadow: 0 0 5px #75AADD; }
	50% { box-shadow: 0 0 10px #407EC8; }
	100% { box-shadow: 0 0 5px #75AADD; }
}

@-moz-keyframes burn-button {
	0% { box-shadow: 0 0 5px #75AADD; }
	50% { box-shadow: 0 0 10px #407EC8; }
	100% { box-shadow: 0 0 5px #75AADD; }
}

@keyframes burn-button {
	0% { box-shadow: 0 0 5px #75AADD; }
	50% { box-shadow: 0 0 10px #407EC8; }
	100% { box-shadow: 0 0 5px #75AADD; }
}

@media all and (max-width: 800px) {
    .b-button_theme_blue {
        font-size: 14px;
        padding: 5px 12px;
    }
}