<div class="b-toolbar">
    <div class="b-toolbar__project-info">
        <div class="b-project-info">
            <div class="b-project-info__title">
                <a class="b-project-info__link" href="#"><%- name %></a>
            </div>
            <div class="b-project-info__location">
                <a class="b-project-info__link" href="#"><%- project.location %></a>
            </div>
        </div>
    </div>
    <div class="b-toolbar__actions">
        <div class="b-action-button js-info">
            <div class="b-action-button__icon icon-help-circled"></div>
            <div class="b-action-button__title">Info</div>
        </div>
        <div class="b-action-button js-rebuild">
            <div class="b-action-button__icon icon-tools"></div>
            <div class="b-action-button__title">Rebuild</div>
        </div>
        <div class="b-action-button js-watch b-action-button_state_active">
            <div class="b-action-button__icon icon-eye"></div>
            <div class="b-action-button__title">Watch</div>
        </div>
        <div class="b-action-button js-server b-action-button_state_active">
            <div class="b-action-button__icon icon-chart-bar"></div>
            <div class="b-action-button__title">Server</div>
        </div>
    </div>
    <div class="b-navigate b-navigate_type_top">
        <div class="b-navigate__text">Use these buttons to make your build rock!</div>
        <img src="images/thin-arrow-up.svg">
    </div>
</div>
<div class="b-log">
    <div class="b-log__report">
        <div class="b-log__report__title">lmd info</div>
        <pre class="b-log__report__result">
info:
info:    LMD Package `index` (.lmd/index.lmd.json)
info:
info:    Modules (1)
info:
info:    name depends type  lazy greedy coverage sandbox
info:    main ✘       plain ✘    ✘      ✘        ✘
info:
info:    Module Paths, Depends and Features
info:
info:    main  <- /Users/azproduction/Documents/my/lmd-gui/app.nw/js/main.js
info:
info:    Flags
info:
info:    ie  ✘
info:
info:    Paths
info:
info:    root      /Users/azproduction/Documents/my/lmd-gui/app.nw/js
info:    output    /Users/azproduction/Documents/my/lmd-gui/app.nw/index.lmd.js
info:    www_root  ✘
info:
</pre>
        <div class="b-log__report__title">lmd info</div>
        <pre class="b-log__report__result">
info:
info:    LMD Package `index` (.lmd/index.lmd.json)
info:
info:    Modules (1)
info:
info:    name depends type  lazy greedy coverage sandbox
info:    main ✘       plain ✘    ✘      ✘        ✘
info:
info:    Module Paths, Depends and Features
info:
info:    main  <- /Users/azproduction/Documents/my/lmd-gui/app.nw/js/main.js
info:
info:    Flags
info:
info:    ie  ✘
info:
info:    Paths
info:
info:    root      /Users/azproduction/Documents/my/lmd-gui/app.nw/js
info:    output    /Users/azproduction/Documents/my/lmd-gui/app.nw/index.lmd.js
info:    www_root  ✘
info:
</pre>
    </div>
</div>